canvas#photo-frame {
    /*border: 1px solid black;*/
}

#dropzone {
    border: 2px dashed black;
    border-radius: 12px;
    background: #93bcff;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    font-family: sans-serif;
    color: #e8e8e8;
}

#info-row {
    margin-bottom: 4px;
}