canvas#photo-frame {
    /*border: 1px solid black;*/
}

#dropzone {
    border: 2px dashed black;
    border-radius: 12px;
    background: #93bcff;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    font-family: sans-serif;
    color: #e8e8e8;
}

#info-row {
    margin-bottom: 4px;
}

#photo-info-red .bar rect {
  fill: red;
}

#photo-info-green .bar rect {
  fill: green;
}

#photo-info-blue .bar rect {
  fill: blue;
}

.hist-box {
    text-align: center;
    border: 1px dashed grey;
    margin-top: 5px;
    opacity: 0;
}